wsdl/22.0.89_dev/logon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://firmglobal.com/Confirmit/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://firmglobal.com/Confirmit/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://firmglobal.com/Confirmit/webservices/">
      <s:element name="LogOnUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOnUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogOnUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogOnUserSoapIn">
    <wsdl:part name="parameters" element="tns:LogOnUser" />
  </wsdl:message>
  <wsdl:message name="LogOnUserSoapOut">
    <wsdl:part name="parameters" element="tns:LogOnUserResponse" />
  </wsdl:message>
  <wsdl:portType name="LogOnSoap">
    <wsdl:operation name="LogOnUser">
      <wsdl:input message="tns:LogOnUserSoapIn" />
      <wsdl:output message="tns:LogOnUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LogOnSoap" type="tns:LogOnSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogOnUser">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/LogOnUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LogOnSoap12" type="tns:LogOnSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogOnUser">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/LogOnUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogOn">
    <wsdl:port name="LogOnSoap" binding="tns:LogOnSoap">
      <soap:address location="https://dev20authoring.ssisurveys.com/confirmit/webservices/current/logon.asmx" />
    </wsdl:port>
    <wsdl:port name="LogOnSoap12" binding="tns:LogOnSoap12">
      <soap12:address location="https://dev20authoring.ssisurveys.com/confirmit/webservices/current/logon.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>