wsdl/22.0.89/datatransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://firmglobal.com/Confirmit/webservices/8.5/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://firmglobal.com/Confirmit/webservices/8.5/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://firmglobal.com/Confirmit/webservices/8.5/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferDef" type="tns:SurveyDataTransferDefBase" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:ResponseToken" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SurveyDataTransferDefBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProjectId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DbType" type="tns:DatabaseType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DatabaseType">
        <s:restriction base="s:string">
          <s:enumeration value="Production" />
          <s:enumeration value="Test" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="SurveyDataTransferDef">
        <s:complexContent mixed="false">
          <s:extension base="tns:SurveyDataTransferDefBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TransferKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VariableCollections" type="tns:ArrayOfTransferVariableCollection" />
              <s:element minOccurs="0" maxOccurs="1" name="FilterExpression" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IncludeSystemVariables" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfTransferVariableCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransferVariableCollection" nillable="true" type="tns:TransferVariableCollection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransferVariableCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoopId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VariableNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseToken">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="LastResponseIdReturned" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstResponseIdReturned" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfResponsesReturned" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DatasetsReturned" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="LastDataSet" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangeTrackingVersion" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="tns:TransferResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransferResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseToken" type="tns:ResponseToken" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferDef" type="tns:SurveyDataTransferDefBase" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:ResponseToken" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataGeneralResult" type="tns:ConfirmitDataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConfirmitDataResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ConfirmitData" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseToken" type="tns:ResponseToken" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConfirmitData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataLevels" type="tns:ArrayOfDataLevel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDataLevel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataLevel" nillable="true" type="tns:DataLevel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataLevel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LevelId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Variables" type="tns:ArrayOfVariable" />
          <s:element minOccurs="0" maxOccurs="1" name="Records" type="tns:ArrayOfDataRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVariable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="tns:Variable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Variable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:VariableType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="VariableType">
        <s:restriction base="s:string">
          <s:enumeration value="String" />
          <s:enumeration value="Bool" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Byte" />
          <s:enumeration value="Short" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Long" />
          <s:enumeration value="Numeric" />
          <s:enumeration value="Guid" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfDataRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataRecord" nillable="true" type="tns:DataRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChangedData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferDef" type="tns:SurveyDataTransferDef" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:ResponseToken" />
            <s:element minOccurs="1" maxOccurs="1" name="lastSynchronizedVersion" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangedDataResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ChangedData" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseToken" type="tns:ResponseToken" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChangedData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Levels" type="tns:ArrayOfChangedDataLevel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChangedDataLevel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChangedDataLevel" nillable="true" type="tns:ChangedDataLevel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChangedDataLevel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Records" type="tns:ArrayOfChangedDataRecord" />
        </s:sequence>
        <s:attribute name="LevelId" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfChangedDataRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChangedDataRecord" nillable="true" type="tns:ChangedDataRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChangedDataRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfDataCell" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDataCell">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataCell" nillable="true" type="tns:DataCell" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataCell">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="Type" type="tns:VariableType" use="required" />
        <s:attribute name="IsNull" type="s:boolean" use="required" />
      </s:complexType>
      <s:element name="GetChangedDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChangedDataResult" type="tns:ChangedDataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRespondents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferDef" type="tns:RespondentDataTransferDefBase" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:RespondentToken" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespondentDataTransferDefBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProjectId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RespondentDataTransferDef">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespondentDataTransferDefBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FieldNames" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Expression" type="s:string" />
	      <s:element minOccurs="1" maxOccurs="1" name="GenerateSurveyLink" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RespondentToken">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="LastRespIdReturned" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstRespIdReturned" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfRespondentsReturned" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DatasetsReturned" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="LastDataSet" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RespondentTransferResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:RespondentToken" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRespondentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRespondentsResult" type="tns:RespondentTransferResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRespondentsGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferDef" type="tns:RespondentDataTransferDefBase" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:RespondentToken" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespondentConfirmitDataResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:ConfirmitData" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="tns:RespondentToken" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRespondentsGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRespondentsGeneralResult" type="tns:RespondentConfirmitDataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="databaseType" type="tns:DatabaseType" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="inTransaction" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorInfoElements" type="tns:ArrayOfErrorInfo" />
        </s:sequence>
        <s:attribute name="Table" type="s:string" />
        <s:attribute name="Row" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfErrorInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorInfo" nillable="true" type="tns:ErrorInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorInfo">
        <s:attribute name="Type" type="s:string" />
        <s:attribute name="Description" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfErrorMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorMessage" nillable="true" type="tns:ErrorMessage" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult" type="tns:ArrayOfErrorMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="databaseType" type="tns:DatabaseType" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ConfirmitData" />
            <s:element minOccurs="1" maxOccurs="1" name="inTransaction" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataGeneralResult" type="tns:ArrayOfErrorMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRespondents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="inTransaction" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRespondentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateRespondentsResult" type="tns:ArrayOfErrorMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRespondentsGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ConfirmitData" />
            <s:element minOccurs="1" maxOccurs="1" name="inTransaction" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRespondentsGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateRespondentsGeneralResult" type="tns:ArrayOfErrorMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataTransferDef" type="tns:SurveyDataTransferDefBase" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRespondents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filterExpression" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRespondentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteRespondentsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataGeneral" />
  </wsdl:message>
  <wsdl:message name="GetDataGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="GetChangedDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetChangedData" />
  </wsdl:message>
  <wsdl:message name="GetChangedDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetChangedDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetRespondentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRespondents" />
  </wsdl:message>
  <wsdl:message name="GetRespondentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRespondentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRespondentsGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:GetRespondentsGeneral" />
  </wsdl:message>
  <wsdl:message name="GetRespondentsGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:GetRespondentsGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDataGeneral" />
  </wsdl:message>
  <wsdl:message name="UpdateDataGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRespondentsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRespondents" />
  </wsdl:message>
  <wsdl:message name="UpdateRespondentsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRespondentsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRespondentsGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRespondentsGeneral" />
  </wsdl:message>
  <wsdl:message name="UpdateRespondentsGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRespondentsGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteData" />
  </wsdl:message>
  <wsdl:message name="DeleteDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRespondentsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRespondents" />
  </wsdl:message>
  <wsdl:message name="DeleteRespondentsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRespondentsResponse" />
  </wsdl:message>
  <wsdl:portType name="DataTransferSoap">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataGeneral">
      <wsdl:input message="tns:GetDataGeneralSoapIn" />
      <wsdl:output message="tns:GetDataGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChangedData">
      <wsdl:input message="tns:GetChangedDataSoapIn" />
      <wsdl:output message="tns:GetChangedDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRespondents">
      <wsdl:input message="tns:GetRespondentsSoapIn" />
      <wsdl:output message="tns:GetRespondentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRespondentsGeneral">
      <wsdl:input message="tns:GetRespondentsGeneralSoapIn" />
      <wsdl:output message="tns:GetRespondentsGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input message="tns:UpdateDataSoapIn" />
      <wsdl:output message="tns:UpdateDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataGeneral">
      <wsdl:input message="tns:UpdateDataGeneralSoapIn" />
      <wsdl:output message="tns:UpdateDataGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRespondents">
      <wsdl:input message="tns:UpdateRespondentsSoapIn" />
      <wsdl:output message="tns:UpdateRespondentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRespondentsGeneral">
      <wsdl:input message="tns:UpdateRespondentsGeneralSoapIn" />
      <wsdl:output message="tns:UpdateRespondentsGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <wsdl:input message="tns:DeleteDataSoapIn" />
      <wsdl:output message="tns:DeleteDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRespondents">
      <wsdl:input message="tns:DeleteRespondentsSoapIn" />
      <wsdl:output message="tns:DeleteRespondentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataTransferSoap" type="tns:DataTransferSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGeneral">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetDataGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangedData">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetChangedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRespondents">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetRespondents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRespondentsGeneral">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetRespondentsGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/UpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataGeneral">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/UpdateDataGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRespondents">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/UpdateRespondents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRespondentsGeneral">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/UpdateRespondentsGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/DeleteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRespondents">
      <soap:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/DeleteRespondents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataTransferSoap12" type="tns:DataTransferSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGeneral">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetDataGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangedData">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetChangedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRespondents">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetRespondents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRespondentsGeneral">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/GetRespondentsGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataGeneral">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/UpdateDataGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRespondents">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/UpdateRespondents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRespondentsGeneral">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/UpdateRespondentsGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteData">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/DeleteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRespondents">
      <soap12:operation soapAction="http://firmglobal.com/Confirmit/webservices/8.5/DeleteRespondents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataTransfer">
    <wsdl:port name="DataTransferSoap" binding="tns:DataTransferSoap">
      <soap:address location="https://author.ssisurveys.com/confirmit/webservices/current/DataTransfer.asmx" />
    </wsdl:port>
    <wsdl:port name="DataTransferSoap12" binding="tns:DataTransferSoap12">
      <soap12:address location="https://author.ssisurveys.com/confirmit/webservices/current/DataTransfer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>